*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif ;
}

main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    min-width: 100px ;
    min-height: 100px;
    padding: 5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer ;
}

.grandparent{
    background: #e97b7b;
}

.parent{
    background: rgb(140, 184, 221);
}

.child{
    background: rgb(116, 241, 204);
}