* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.be-good {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 10% auto;
  width: 30%;
  height: 30px;
  background-color: rgba(225, 225, 225, 0.3);
  box-shadow: 2;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.be-good p {
    /******** to make p to the center of the div *******/
  display: flex;
  justify-content: center;
}

.nature-video {
  border: 1px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.nature-video video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.tool-tip{
  /* aking the .tooltip a container for the tooltip text */
  position: relative;
  
}

 .tool-tip:before {
  /* this is the magic, the data is displayed which is taken from the parent element by this line of code in the tool-tip */
  content: attr(data-text);
  position: absolute;

  /* vertically center */
  bottom: -50%;
  transform: translate(5%);
  
  /* positioning the tool-tip to right */
  left: 99%;
  /* margin-left: 5px; */

  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  /* hide by default */
  display: none;
}



.tool-tip::after{
  content:"";
  position: absolute;

  /* position tooltip correctly */
  left: 100%;
  margin-left:-3px ;

  /* vertically center */
  top: 20%;
  transform: translate(-50%);

  /* the arrow */
  border: 10px solid #000;
  border-color: transparent black transparent transparent;

  display: none;

}

.tool-tip:hover:before, .tool-tip:hover:after{
  display: block;
}


@media only screen and (max-width: 600px) {
  .be-good {
    height: 50px;
  }
}
